.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vw ;
}

.landing-text{
    color: darkslateblue;
    font-weight: bolder;
}