.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  overflow: visible;
  background-color:#91b4d8;
  min-height: 100px;
  z-index: 15;
  font-family: inherit;
  
}

.Navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 19px;
}

.LoginContainer {
  margin-top: -22px;
  background: url(https://media.giphy.com/media/xTiTnpcaFPfJAzaP8A/giphy.gif) no-repeat center center #4e92cb;
  height: 100%;
  background-size: cover;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  
  /* margin-bottom: 40px; */
  
}

.MediaContainer {
  margin-top: -22px;
  background-color:#4e92cb;
  
}

.nba-team-index {
  margin-top: -22px;
  background-color:#91b4d8;
}

.profile-background{
  margin-top: -22px;
  background-color: #a4d4f3;
  background-size: cover;
  height: 100%; 
  background-repeat: repeat-y;
}

.Home {
  margin-top: -22px;
  background-color: black;
  
}